<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>market</display-name>
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ListClientController</servlet-name>
		<servlet-class>fstt.org.market.controllers.client.ListClientController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteClientController</servlet-name>
		<servlet-class>fstt.org.market.controllers.client.DeleteClientController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateClientController</servlet-name>
		<servlet-class>fstt.org.market.controllers.client.UpdateClientController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveProductController</servlet-name>
		<servlet-class>fstt.org.market.controllers.product.SaveProductController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListProductController</servlet-name>
		<servlet-class>fstt.org.market.controllers.product.ListProductController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteProductController</servlet-name>
		<servlet-class>fstt.org.market.controllers.product.DeleteProductController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateProductController</servlet-name>
		<servlet-class>fstt.org.market.controllers.product.UpdateProductController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveOrderController</servlet-name>
		<servlet-class>fstt.org.market.controllers.order.SaveOrderController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListOrderController</servlet-name>
		<servlet-class>fstt.org.market.controllers.order.ListOrderController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteOrderController</servlet-name>
		<servlet-class>fstt.org.market.controllers.order.DeleteOrderController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateOrderController</servlet-name>
		<servlet-class>fstt.org.market.controllers.order.UpdateOrderController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveOrderlineController</servlet-name>
		<servlet-class>fstt.org.market.controllers.orderline.SaveOrderlineController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListOrderlineController</servlet-name>
		<servlet-class>fstt.org.market.controllers.orderline.ListOrderlineController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteOrderlineController</servlet-name>
		<servlet-class>fstt.org.market.controllers.orderline.DeleteOrderlineController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateOrderlineController</servlet-name>
		<servlet-class>fstt.org.market.controllers.orderline.UpdateOrderlineController</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>ListClientController</servlet-name>
		<url-pattern>/listClient.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteClientController</servlet-name>
		<url-pattern>/deleteClient.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateClientController</servlet-name>
		<url-pattern>/updateClient.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveProductController</servlet-name>
		<url-pattern>/saveProduct.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListProductController</servlet-name>
		<url-pattern>/listProduct.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProductController</servlet-name>
		<url-pattern>/deleteProduct.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProductController</servlet-name>
		<url-pattern>/updateProduct.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveOrderController</servlet-name>
		<url-pattern>/saveOrder.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListOrderController</servlet-name>
		<url-pattern>/listOrder.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOrderController</servlet-name>
		<url-pattern>/deleteOrder.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateOrderController</servlet-name>
		<url-pattern>/updateOrder.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveOrderlineController</servlet-name>
		<url-pattern>/saveOrderline.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListOrderlineController</servlet-name>
		<url-pattern>/listOrderline.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOrderlineController</servlet-name>
		<url-pattern>/deleteOrderline.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateOrderlineController</servlet-name>
		<url-pattern>/updateOrderline.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>